
<div >
    <div class="d-flex justify-content-center mb-1"> <h1><i class="bi bi-balloon-heart-fill"></i>All questions <i class="bi bi-balloon-heart-fill"></i></h1>
    </div>
            <div  class="row row-cols-4 "  > 
                <% @questions.each do |question|%>
                    <div class="col mt-4" >  
                        <div class = "card border-secondary" style = "width:300px;">
                            <div class="card-body">
                                <div class="card-header pt-0">
                                        <%= question.created_at.strftime("%H:%M   %d.%m.%y") %>
                                </div>
                                <h3 class="card-title text-center"><%= question.title %> </h3>
                                <p class="card-text"><%= question.body %></p>
                                <%= link_to 'Show', question, class:"btn btn-success" %>
                                <%= link_to 'Edit', edit_question_path(question.id) , class:"btn btn-secondary" %>
                                <%= link_to 'Delete', question_path(question.id), class:"btn btn-dark",
                                                                                "data-turbo-method": :delete , 
                                                                                "data-turbo-confirm": 'Are you sure?'%>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
